<ion-header [translucent]="true">
  <ion-toolbar color="warning">
          <ion-buttons slot="start">
            <ion-back-button default-href="'/catalogo'"></ion-back-button>
          </ion-buttons>
    <ion-title>
      Estadisticas y revisiones
      </ion-title>
  </ion-toolbar>
</ion-header>


<!--<img src="assets/img/logo1.png" alt="Logo DIGIGAMES" style="height: 120px; vertical-align: middle;">
    <h1>Revisa las Estadisticas sobre el catalogo de juegos de DIGIGAMES </h1>-->

<ion-content [fullscreen]="true">
    <ion-card class="card1">
      <ion-img class="card-imagen" alt="Silhouette of mountains" src="assets/img/cod bo6.jpg" />
      <ion-card-header>
        <ion-card-title>COD: Black Ops 6</ion-card-title>
      </ion-card-header>
      <h1>Revisiones urgentes</h1>
      <p>Las reservas de Call of Duty: Black ops 6 están en proceso.
        Su fecha de lanzamiento esta previsto para el mes de octubre,
        pero aun no ha logrado las reservas esperadas.
      </p>
      <p>Se esperaba un prevision de 1000 reservas a la fecha de 07/10.
        Actualmente solo hay 340/1000.
      </p>
      <br />
    </ion-card>

    <ion-card class="card1">
      <ion-img class="card-imagen" alt="Silhouette of mountains" src="assets/img/concord.jpg" />
      <ion-card-header>
        <ion-card-title>Concord</ion-card-title>
        <h1>Revisiones urgentes</h1>
        <p>El Videojuego Concord no se encuentra disponible.
          La desarrolladora de este titulo esperaba una buena recepcion
          de su producto pero no cumplio las expectativas y se han 
          obligado a cerrarlo permamentemente.
        </p>
        <p>
          Favor de retirar del catalogo.
        </p>
      </ion-card-header>
    </ion-card>
  
    <ion-card class="card1">
      <ion-img class="card-imagen" alt="Silhouette of mountains" src="assets/img/eafc.jpg" />
      <ion-card-header>
        <ion-card-title>EAFC 25</ion-card-title>
        <h2>Revision General</h2>
        <p>Como todos los años, la franquicia EAFC "Ex FIFA" cumplio las expectativas de venta</p>
        <p>El juego esta dentro del top 5 mas comprados en nuestra tienda, por lo que acumula un total
          de mas de 1560 ventas y contando. </p>
      </ion-card-header>
    </ion-card>


    <p>¡Y listo, estas al dia!. Esas son las revisiones generales a la fecha de 15/10. Puedes regresar.</p>

</ion-content>

<ion-footer translucent="true">
  <ion-tab-bar color="warning" slot="bottom">
    <ion-title>
      <img src="assets/img/logo1-negro.png" alt="Logo DIGIGAMES" style="height: 50px;">
      </ion-title>
  </ion-tab-bar>
</ion-footer>
